@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
}

.bg-color{
    background-color:rgb(0, 0, 0)
}

.position-relative{
    position: relative;
}

/* -----------------  Navbar style start   -------------------- */

.lienar-gra{
    /* background: linear-gradient(to bottom right, rgb(19, 19, 19), rgb(46, 46, 46)); */
    background: linear-gradient(to right, rgb(0, 0, 0) , rgba(236, 236, 220, 0.308));
}


.navbar{
    align-items: center;
    justify-content: space-between;
}

.nav-name{
    color: rgba(230, 83, 60, 1);
    font-size: 3.8rem;
    font-weight: 900;
}


.navbar .menu-links {
    border: 1px solid rgba(255, 255, 255, 0.205);
    border-radius: 50px;
    padding:8px 0px; 
}

.navbar .menu-links li{
    list-style: none;

}


.navbar .menu-links li a{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
   
}


.navbar .menu-links li .active{

    background-color: rgba(230, 83, 60, 1);
}

.navbar .menu-links .bars{
    display: none;
}

.header{
    max-width: 1170px;
    margin: 0 auto;
}

/* -----------------  Navbar style end   -------------------- */

/* -----------banner style start------------------------------- */


.welcome-hero-content{
    gap: 250px;
    justify-content: center;
    
}


.welcome-hero-img img{
    width: 100%;
}

.welcome-hero-text{
    margin-left: 30px;
    margin-top: 35px;
}

.welcome-hero-text h1{
    font-size: 4.50rem;
    font-weight: 900;
    color: white;
    font-family: 'Inter', sans-serif;
}

.welcome-hero-text p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}

.welcome-hero-text span{
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    font-weight: 400;
}


.welcome-hero-text button{
    margin-right: 12px;
}


.video-card{
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    color: white;
    position: absolute;
    bottom:15%;
    left: -30%;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    padding: 8px 10px;
}

.video-card .video-text{
    padding:5px 15px;

}
.video-card .video-text h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size:3rem;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 700;
}

.video-card .video-text p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: 400;
    color:#f1f1f16c;
}


.workout-content{
    background-color: rgba(207, 206, 206, 0.123);
    color: white;
    backdrop-filter: blur(50px);
    border-radius: 8px;
    position: absolute;
    top:20%;
    right:1%;
    padding:5px 15px;
}

/* .workout-content .workout-text{

} */


.workout-text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2px;
    margin-top: 5px;
}

.workout-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    color:#f1f1f16c;
}
.video-text{
    margin-left: 10px;
}

.video-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-icon{
    background-color: #E6533C;
    width:40px;
    height: 40px;
    border-radius: 100%;
    font-size: 2rem;
}


/* -----------banner style end------------------------------- */


/* ----------  Change your habbits style start  ----------- */

.habits-containers{
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 25px;
}

.col-habbit-box img{
    border-radius: 100%;
}

.col-habbit-box{
    text-align: center;
    color: white;
    padding: 25px;
    border:1px solid rgba(255, 255, 255, 0.308);
    border-radius: 8px;
}

.col-habbit-box p{
    font-size: 14px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.486);
}
.habbits-content{margin-bottom: 40px;}

.habbits-content .habbit-content-text{
    text-align: center;
    color: white;
    padding:0px 180px;
}

.habbits-content .habbit-content-text h2{
font-size: 2.5rem;
color: white;
margin-bottom: 17px;
}


.habbits-content .habbit-content-text p{
    color:rgba(255, 255, 255, 0.486);

}




/* ----------  Change your habbits style end  ----------- */


/* running style start */

.running-miles{
    grid-template-columns: repeat(2, 1fr);
    gap:120px;
}


.col-extra-running{
    padding:30px 32px;
}

.col-extra-running img{
    width:100%;
    border-radius: 12px;

}

.back-color{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.col-extra-running h3{
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.col-extra-running p{
    color: rgba(255, 255, 255, 0.486);
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 1.5rem;

}

/* running style end */


/* -------------------    Table chart start      -------------------- */

.section-title-chart{
    color: white;
    text-align: center;
    margin-bottom: 45px;
}

.section-title-chart h2{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.col-calculate-chart-box h3{
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff;
}

.col-calculate-bmi-box h3{
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff;
}


.col-calculate-bmi-box p{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}

form{
    margin-bottom: 2rem;
}

table, td, th {  
    border: 1px solid rgba(255, 255, 255, 0.404);
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 60%;

  }
  
  th{
    color: white;
    padding:15px;
  }

  td {
    padding: 15px;
    color: rgba(255, 255, 255, 0.432);
  }
  .col-calculate-chart{
    flex: 50%;
}



input[type=text] {
    padding: 12px 20px;
    width: 46.9%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f134;
    border-radius: 5px;
    border:none;
    color: white;
}



select{
    width: 46.9%;
    padding: 12px 20px;
    background-color: #f1f1f13f;
    border-radius: 5px;
    border:none;
    color: #ffffff7c
}

input::placeholder {
    color: #ffffff7c; /* Change to your desired color */
}

.select-activity{
    width: 97%;
    background-color: #f1f1f13f;
    border-radius: 5px;
    border:none;

}

.col-calculate-bmi-box button{
    margin-bottom: 15px;
}
.calculator-content{
    padding: 35px 0px;
}

/* -------------------    Table chart end      -------------------- */


/* Meet our team member style start */

.meet-our-team{
    grid-template-columns: repeat(3, 1fr);
}

.col-meet-img{
    padding:10px;
    border-radius: 12px;
}
.col-meet-img img{
    width:100%; 
    height: 320px;   
    border-radius: 12px;

}

.col-meet-team{
    position: relative;
    
}

.col-meet-text{
    position: absolute;
    bottom:10%;
    left:5%;
    color: white;
}

.col-meet-text h4{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.col-meet-text p{
    font-size: 1.2rem;
    margin-top: 5px;
}



/* Meet our team member style end */

/* --------------  popular class style start   -------------- */

.col-popular-class-box{
    color: white;
}

.col-popular-class{
    border:1px solid rgba(255, 255, 255, 0.308);
    border-radius: 8px;
    margin:5px;
    background-color: rgba(255, 255, 255, 0.171);
    
}

.col-popular-class-box{
    padding: 15px;
    transition: .3s ease-in;
}

.col-popular-class-box:hover{
    box-shadow: 0 4px 8px 0 rgba(8, 53, 80, 0.568), 0 6px 20px 0 rgba(8, 53, 80, 0.568);
}

.section-title{
    margin-bottom: 50px;
}

.section-title .heading{
    margin-bottom: 10px;
}
.popular-class-content{
    grid-template-columns: repeat(3, 1fr);
    gap:10px;

}

.col-popular-class-box h4{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 15px;
}


.col-popular-class-box img{
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

/* --------------  popular class style end   -------------- */


/* ------------------- Footer style start ------------------- */

.footer-content{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

}

.col-footer-box h3{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    color:#E6533C;
    margin-bottom: 10px;
}

.col-footer{
    padding-bottom: 30px;
}
.col-footer-box p{
    line-height: 1.5rem;
}

.col-footer-box > li{
    display:  inherit;
    list-style: none;
    padding: 8px 0px;
    margin-left: 0px;
    transition: .5s;
}

.col-footer-box > li a{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color:#ffffff70;
    font-size: 20px;

}

.all-right{
    font-family: "Inter", sans-serif;
    padding: 15px 0px;
    text-align: center;
    color:#ffffff70;
}

.col-footer-box h4{
    font-family: "Inter", sans-serif;
    margin-bottom: 15px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

/* .col-footer{
    border-bottom: 2px solid #ffffff27;
} */

.col-footer-box li:hover{
    transform: translateX(12px);
}

.all-right{
    border-top: 2px solid #ffffff27;
}

/* ------------------- Footer style end ------------------- */

/* --------------------  Shared style start   ----------------------- */

.display-flex{
    display: flex;
}


.display-grid{
    display: grid;

}

.padding{
    padding: 50px 0px;
}

.heading{
    font-size: 2.5rem;
    color: white;
}

.para{
    color:rgba(255, 255, 255, 0.486);
}

.btn-primary{
    padding: 12px 26px;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 50px;
}

.btn-primary-long{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing:2px;
    font-weight: 600;
    padding: 17px 70px;
    background-color: #E6533C;
    color: white;
    border: none;
    letter-spacing: 2px;
    border-radius: 50px;
}

.btn-secondary{
    padding: 12px 26px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 50px;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

/* --------------------  Shared style end   ----------------------- */



/* ---------------  Responsive style start  ----------------- */

@media screen and (max-width:577px) {
    nav .menu-links .link-item{
        display: none;
    }

    .navbar .menu-links .bars{
        display: block;
        color: rgb(255, 255, 255);
        font-size: 17px;
    }
    .navbar .menu-links {
        border: none;
    }

    .welcome-hero-content{
        flex-direction: column;
        width: 100%;
    }
    .welcome-hero-text{
        width: 80%;
    }

    .video-card{
        left:10%;

    }
    /* .workout-content{
        top: 100%;
    } */

    .habits-containers{
        grid-template-columns: 1fr;
    }

    .habbits-content .habbit-content-text{
        padding:10px;
    }

    .running-miles{
        flex-direction: column;
    }

    .col-extra-running img{
        margin-top: -120px;
    }

    .btn-primary-long{
        width:100%;
        padding: 25px 0px;
    }

    .calculator-content{
        flex-direction: column;
    }

    table{
       width: 100%;
    }

    .meet-our-team{
        grid-template-columns: 1fr;
        padding:15px;
    }
    .popular-class-content{
        grid-template-columns: 1fr;
    }

    .footer-content{
        grid-template-columns: 1fr;
        justify-items: start;

    }

    .col-popular-class{
        width:100%;
        margin-left: 0;
    }

}


/* ---------------  Responsive style end  ----------------- */