@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+CU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    box-sizing: border-box;
}

.bg-color{
    background-color:rgb(0, 0, 0)
}

/* .position-relative{
    position: relative;
} */

/* -----------------  Navbar style start   -------------------- */

.lienar-gra{
    background-image: linear-gradient(to bottom right, rgb(19, 19, 19), rgb(46, 46, 46));
}


.navbar{
    align-items: center;
    justify-content: space-between;
}

.nav-name{
    color: rgba(230, 83, 60, 1);
    font-size: 2.8rem;
}


.navbar .menu-links {
    border: 1px solid rgba(255, 255, 255, 0.205);
    border-radius: 50px;
    padding:8px 0px;

    
}

.navbar .menu-links li{
    list-style: none;

}


.navbar .menu-links li a{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
   
}


.navbar .menu-links li .active{

    background-color: rgba(230, 83, 60, 1);
}

.navbar .menu-links .bars{
    display: none;
}

.header{
    max-width: 1170px;
    margin: 0 auto;
}

/* -----------------  Navbar style end   -------------------- */

/* -----------banner style start------------------------------- */


.welcome-hero-content{
    gap: 85px;
    justify-content: center;
    
}


.welcome-hero-img img{
    width: 100%;
}

.welcome-hero-text{
    margin-left: 30px;
    margin-top: 35px;
    width: 60%;
}

.welcome-hero-text h1{
    font-size: 4.50rem;
    font-weight: 700;
    color: white;
}

.welcome-hero-text p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5)
}

.welcome-hero-text span{
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    font-weight: 400;
}


.welcome-hero-text button{
    margin-right: 12px;
}


.video-card{

    
    background-color: rgba(0, 0, 0, 0.322);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom:2%;
    right:25%;
    backdrop-filter: blur(15px);

    border-radius: 8px;
}

.video-card .video-text{
    padding:5px 15px;
}


.workout-content{
    
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    position: absolute;
    top:45%;
    right:7%;
    backdrop-filter: blur(4px);
    border-radius: 8px;

}

.workout-content .workout-text{
    padding:5px 15px;
}


.workout-video h3{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 5px;
}


.video-text{
    padding-left: 20px;
}

.video-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-icon i{
    background-color: #E6533C;
    padding:10px;
    border-radius: 50%;
    font-size: 2rem;
}

/* -----------banner style end------------------------------- */


/* ----------  Change your habbits style start  ----------- */

.habits-containers{
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 25px;
}

.col-habbit-box img{
    border-radius: 100%;
}

.col-habbit-box{
    text-align: center;
    color: white;
    padding: 25px;
    border:1px solid rgba(255, 255, 255, 0.308);
}

.col-habbit-box p{
    font-size: 14px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.486);
}
.habbits-content{margin-bottom: 40px;}

.habbits-content .habbit-content-text{
    text-align: center;
    color: white;
    padding:0px 180px;
}

.habbits-content .habbit-content-text h2{
font-size: 2.5rem;
color: white;
}


.habbits-content .habbit-content-text p{
    color:rgba(255, 255, 255, 0.486);

}




/* ----------  Change your habbits style end  ----------- */


/* running style start */

.running-miles{
    grid-template-columns: repeat(2, 1fr);
    gap:120px;
}


.col-extra-running{
    padding:30px 32px;
}

.col-extra-running img{
    width:100%;
    border-radius: 12px;

}

.back-color{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.col-extra-running h3{
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.col-extra-running p{
    color: rgba(255, 255, 255, 0.486);
    margin-bottom: 20px;
    word-spacing: 4px;
    letter-spacing: 1px;
    line-height: 1.5rem;

}

/* running style end */


/* -------------------    Table chart start      -------------------- */

.col-calculate-chart-box h3{
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff;
}

.col-calculate-bmi-box h3{
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff;
}


.col-calculate-bmi-box p{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}

table, td, th {  
    border: 1px solid rgba(255, 255, 255, 0.404);
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 60%;

  }
  
  th{
    color: white;
  }

  td {
    padding: 15px;
    color: rgba(255, 255, 255, 0.432);
  }
  .col-calculate-chart{
    flex: 50%;
}



input[type=text] {
    padding: 12px 20px;
    width: 47%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f134;
    border-radius: 5px;
    border:none;
    color: white;
}



select{
    width: 47%;
    padding: 8px 18px;
    background-color: #f1f1f13f;
    border-radius: 5px;
    border:none;
    color: #ffffff7c
}

input::placeholder {
    color: #ffffff7c; /* Change to your desired color */
}

.select-activity{
    width: 97%;
    background-color: #f1f1f13f;
    border-radius: 5px;
    border:none;
}
/* -------------------    Table chart end      -------------------- */



/* --------------------  Shared style start   ----------------------- */



.display-flex{
    display: flex;
}


.display-grid{
    display: grid;

}

.padding{
    padding: 50px 0px;
}

.btn-primary{
    padding: 12px 26px;
    background-color: #E6533C;
    color: white;
    border: none;
    border-radius: 50px;
}

.btn-primary-long{
    font-size: 20px;
    padding: 12px 45px;
    background-color: #E6533C;
    color: white;
    border: none;
    letter-spacing: 2px;
    border-radius: 50px;
}

.btn-secondary{
    padding: 12px 26px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}




/* --------------------  Shared style end   ----------------------- */



/* ---------------  Responsive style start  ----------------- */

@media screen and (max-width:577px) {
    nav .menu-links .link-item{
        display: none;
    }

    .navbar .menu-links .bars{
        display: block;
        color: rgb(255, 255, 255);
        font-size: 17px;
    }
    .navbar .menu-links {
        border: none;
    }

    .welcome-hero-content{
        flex-direction: column;
        width: 100%;
    }
    .welcome-hero-text{
        width: 80%;
    }

    .video-card{
        bottom: -100%;
        right:50%;

    }
    .workout-content{
        top: 100%;
    }

    .habits-containers{
        grid-template-columns: 1fr;
    }

    .habbits-content .habbit-content-text{

        padding:0px;
    }

    .running-miles{
        flex-direction: column;
    }

    .btn-primary-long{
        width:100%;
        padding: 25px 0px;
    }

    /* .col-extra-running h3, p{
        padding: 0px 45px 0px 15px;
    } */
}


/* ---------------  Responsive style end  ----------------- */